@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--redes sociales de la pagina-->

<section class="section">
    <div class="redes">
        <a href="https://www.facebook.com">
            <svg width="128" height="118" viewBox="0 0 64 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 29.6647C0 44.3311 11.5547 56.5269 26.6667 59V37.6936H18.6667V29.5H26.6667V22.9436C26.6667 15.5686 31.8213 11.473 39.112 11.473C41.4213 11.473 43.912 11.8 46.2213 12.127V19.6667H42.1333C38.2213 19.6667 37.3333 21.4686 37.3333 23.7647V29.5H45.8667L44.4453 37.6936H37.3333V59C52.4453 56.5269 64 44.3336 64 29.6647C64 13.3488 49.6 0 32 0C14.4 0 0 13.3488 0 29.6647Z" fill="black" />
            </svg>
            <p>Facebook</p>
        </a>
    </div>
    <div class="redes">
        <a href="https://www.tiktok.com">
            <svg width="92" height="104" viewBox="0 0 46 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M46 21.319C41.4795 21.3297 37.0699 19.9352 33.3941 17.3327V35.4839C33.3929 38.8457 32.3541 42.127 30.4165 44.8891C28.479 47.6511 25.7352 49.7623 22.5519 50.9402C19.3686 52.1182 15.8976 52.3068 12.603 51.4808C9.30847 50.6548 6.34735 48.8536 4.11563 46.3181C1.88391 43.7826 0.487961 40.6336 0.114446 37.2921C-0.259069 33.9507 0.407652 30.5761 2.02546 27.6196C3.64326 24.663 6.13504 22.2655 9.16761 20.7476C12.2002 19.2296 15.629 18.6636 18.9955 19.1252V28.2547C17.455 27.7754 15.8007 27.7898 14.269 28.2959C12.7372 28.8021 11.4063 29.774 10.4663 31.0729C9.52632 32.3718 9.02531 33.9313 9.03482 35.5287C9.04433 37.1261 9.56388 38.6796 10.5193 39.9675C11.4747 41.2554 12.8171 42.2118 14.3547 42.7C15.8924 43.1882 17.5467 43.1834 19.0815 42.6862C20.6162 42.189 21.9528 41.2248 22.9005 39.9313C23.8482 38.6379 24.3585 37.0813 24.3584 35.4839V0H33.3941C33.3879 0.754752 33.4518 1.50847 33.5851 2.25164C33.8991 3.91064 34.5519 5.48885 35.5037 6.88973C36.4555 8.29061 37.6862 9.4847 39.1205 10.399C41.1611 11.7336 43.5536 12.445 46 12.4445V21.319Z" fill="black" />
            </svg>
            <p>Tiktok</p>
        </a>
    </div>
    <div class="redes">
        <a href="https://www.instagram.com">
            <svg width="132" height="134" viewBox="0 0 66 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5288 2.97592C23.7545 2.82517 24.783 2.79167 33 2.79167C41.217 2.79167 42.2455 2.82796 45.4685 2.97592C48.6915 3.12388 50.8915 3.64592 52.8165 4.40246C54.8322 5.17575 56.661 6.38455 58.1735 7.94788C59.7135 9.4805 60.9015 11.3342 61.6605 13.3833C62.4085 15.3374 62.92 17.5708 63.0685 20.837C63.217 24.1172 63.25 25.1613 63.25 33.5C63.25 41.8415 63.2142 42.8856 63.0685 46.1602C62.9227 49.4265 62.4085 51.6598 61.6605 53.614C60.9015 55.6633 59.7115 57.5201 58.1735 59.0549C56.661 60.6182 54.8322 61.8242 52.8165 62.5947C50.8915 63.3541 48.6915 63.8733 45.474 64.0241C42.2455 64.1748 41.217 64.2083 33 64.2083C24.783 64.2083 23.7545 64.172 20.5288 64.0241C17.3113 63.8761 15.1112 63.3541 13.1863 62.5947C11.1675 61.8241 9.33851 60.6162 7.8265 59.0549C6.28754 57.5214 5.09662 55.6655 4.33675 53.6167C3.5915 51.6626 3.08 49.4292 2.9315 46.163C2.783 42.8828 2.75 41.8387 2.75 33.5C2.75 25.1585 2.78575 24.1144 2.9315 20.8426C3.07725 17.5708 3.5915 15.3374 4.33675 13.3833C5.09774 11.3344 6.28958 9.47859 7.82925 7.94509C9.33911 6.38315 11.1663 5.1742 13.1835 4.40246C15.1085 3.64592 17.3085 3.12667 20.526 2.97592H20.5288ZM45.2237 8.50342C42.0337 8.35546 41.0768 8.32475 33 8.32475C24.9233 8.32475 23.9662 8.35546 20.7762 8.50342C17.8255 8.64021 16.225 9.13992 15.158 9.56146C13.7473 10.1198 12.738 10.7814 11.6793 11.8562C10.6756 12.8474 9.90325 14.054 9.41875 15.3877C9.0035 16.4708 8.51125 18.0956 8.3765 21.091C8.23075 24.3294 8.2005 25.3009 8.2005 33.5C8.2005 41.6991 8.23075 42.6706 8.3765 45.909C8.51125 48.9044 9.0035 50.5292 9.41875 51.6123C9.90275 52.944 10.6755 54.1527 11.6793 55.1438C12.6555 56.1627 13.8463 56.9472 15.158 57.4385C16.225 57.8601 17.8255 58.3598 20.7762 58.4966C23.9662 58.6445 24.9205 58.6752 33 58.6752C41.0795 58.6752 42.0337 58.6445 45.2237 58.4966C48.1745 58.3598 49.775 57.8601 50.842 57.4385C52.2528 56.8802 53.262 56.2186 54.3208 55.1438C55.3245 54.1527 56.0973 52.944 56.5813 51.6123C56.9965 50.5292 57.4888 48.9044 57.6235 45.909C57.7693 42.6706 57.7995 41.6991 57.7995 33.5C57.7995 25.3009 57.7693 24.3294 57.6235 21.091C57.4888 18.0956 56.9965 16.4708 56.5813 15.3877C56.0313 13.9555 55.3795 12.931 54.3208 11.8562C53.3443 10.8375 52.1557 10.0534 50.842 9.56146C49.775 9.13992 48.1745 8.64021 45.2237 8.50342ZM29.1363 42.9665C31.2941 43.8784 33.6968 44.0015 35.9341 43.3147C38.1713 42.628 40.1043 41.1741 41.4029 39.2013C42.7015 37.2285 43.2852 34.8592 43.0541 32.4981C42.8231 30.137 41.7918 27.9306 40.1362 26.2556C39.0809 25.185 37.8048 24.3651 36.3999 23.8552C34.995 23.3453 33.4962 23.1579 32.0114 23.3066C30.5265 23.4552 29.0927 23.9362 27.813 24.715C26.5333 25.4937 25.4395 26.5508 24.6106 27.8102C23.7816 29.0695 23.238 30.4998 23.0189 31.998C22.7998 33.4962 22.9107 35.0251 23.3435 36.4746C23.7763 37.9241 24.5203 39.2581 25.522 40.3807C26.5236 41.5032 27.758 42.3864 29.1363 42.9665ZM22.0055 22.3389C23.4493 20.8732 25.1634 19.7106 27.0498 18.9173C28.9363 18.1241 30.9581 17.7158 33 17.7158C35.0419 17.7158 37.0637 18.1241 38.9502 18.9173C40.8366 19.7106 42.5507 20.8732 43.9945 22.3389C45.4383 23.8046 46.5836 25.5446 47.365 27.4597C48.1464 29.3747 48.5486 31.4272 48.5486 33.5C48.5486 35.5728 48.1464 37.6253 47.365 39.5403C46.5836 41.4554 45.4383 43.1954 43.9945 44.6611C41.0786 47.6212 37.1237 49.2842 33 49.2842C28.8763 49.2842 24.9214 47.6212 22.0055 44.6611C19.0896 41.701 17.4514 37.6862 17.4514 33.5C17.4514 29.3138 19.0896 25.299 22.0055 22.3389ZM51.997 20.0665C52.3548 19.7239 52.6412 19.3119 52.8393 18.8548C53.0375 18.3978 53.1432 17.9051 53.1504 17.4058C53.1576 16.9066 53.066 16.4109 52.8811 15.9483C52.6962 15.4856 52.4217 15.0653 52.0739 14.7122C51.7261 14.3591 51.3121 14.0805 50.8563 13.8928C50.4005 13.7051 49.9122 13.6121 49.4204 13.6194C48.9286 13.6267 48.4433 13.734 47.9931 13.9352C47.5429 14.1363 47.137 14.427 46.7995 14.7903C46.1431 15.4966 45.7837 16.4349 45.7977 17.4058C45.8116 18.3768 46.1978 19.304 46.8742 19.9907C47.5506 20.6773 48.464 21.0693 49.4204 21.0835C50.3769 21.0977 51.3012 20.7328 51.997 20.0665Z" fill="black" />
            </svg>
            <p>Instagram</p>
        </a>
    </div>
    <div class="redes">
        <a href="https://api.whatsapp.com">
            <svg width="138" height="134" viewBox="0 0 69 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2_44)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M50.0681 40.1498C49.2114 39.7339 45.011 37.7294 44.229 37.4503C43.447 37.1739 42.8778 37.0371 42.3056 37.869C41.7364 38.6954 40.1005 40.5658 39.6031 41.1185C39.1029 41.6741 38.6055 41.7411 37.7516 41.3279C36.8977 40.9092 34.1435 40.0354 30.8804 37.2102C28.3418 35.0104 26.6254 32.2941 26.128 31.4622C25.6306 30.633 26.0734 30.1836 26.5018 29.7704C26.887 29.3991 27.3556 28.8017 27.784 28.3187C28.2124 27.833 28.3533 27.4868 28.6379 26.9313C28.9254 26.3785 28.7816 25.8956 28.566 25.4796C28.3533 25.0637 26.6455 20.9794 25.9325 19.3184C25.2396 17.702 24.5353 17.9226 24.012 17.8947C23.5118 17.8723 22.9425 17.8667 22.3733 17.8667C21.804 17.8667 20.8783 18.0733 20.0962 18.9052C19.3114 19.7344 17.1062 21.7416 17.1062 25.8258C17.1062 29.9072 20.1653 33.8518 20.5936 34.4074C21.022 34.9601 26.6168 43.3407 35.1871 46.9336C37.2284 47.7878 38.8182 48.2987 40.0574 48.6784C42.1044 49.3121 43.9674 49.2227 45.4394 49.0078C47.0781 48.7705 50.4936 47.0006 51.2066 45.0632C51.9168 43.1257 51.9167 41.4647 51.704 41.1185C51.4912 40.7724 50.922 40.5658 50.0653 40.1498H50.0681ZM34.4799 60.8165H34.4684C29.378 60.8174 24.3811 59.4887 20.0014 56.9696L18.9664 56.3722L8.20813 59.1136L11.0802 48.9296L10.4046 47.8855C7.55877 43.4868 6.05272 38.396 6.0605 33.2014C6.06625 17.9868 18.814 5.60853 34.4914 5.60853C42.0814 5.60853 49.2171 8.48395 54.5819 13.6988C57.228 16.2576 59.3253 19.3004 60.7524 22.6514C62.1796 26.0023 62.9083 29.5947 62.8964 33.2209C62.8906 48.4355 50.1429 60.8165 34.4799 60.8165ZM58.6644 9.7374C55.4967 6.64123 51.7277 4.18628 47.5758 2.51481C43.4238 0.843334 38.9716 -0.0114215 34.477 7.2434e-05C15.6342 7.2434e-05 0.29325 14.8936 0.2875 33.1986C0.278769 39.0241 1.85258 44.7488 4.85013 49.795L0 67.0001L18.124 62.3827C23.1376 65.0351 28.756 66.4249 34.4655 66.425H34.4799C53.3226 66.425 68.6636 51.5314 68.6694 33.2237C68.6833 28.8611 67.8062 24.5391 66.0889 20.5077C64.3715 16.4764 61.848 12.8157 58.6644 9.7374Z" fill="black" />
                </g>
                <defs>
                    <clipPath id="clip0_2_44">
                        <rect width="69" height="67" fill="white" />
                    </clipPath>
                </defs>
            </svg>
            <p>Whatsapp</p>
        </a>
    </div>
</section>


