@{
//Creacion de un objeto de tipo list para poder mostrar los edificios 
    ViewBag.Title = "Home Page";
    List<SelectListItem> ubi = (List<SelectListItem>)ViewBag.Items;
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@section styles{
    <link href="~/Content/DataTables/css/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/buttons.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/fixedHeader.dataTables.css" rel="stylesheet" />
    <link href="~/Content/css/Estilo.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        thead input {
            width: 100%;
        }
    </style>
}
<body>

    <div class="container h-100">
        <div class="d-flex justify-content-end">
            <div class="mt-3">
                <div class="col-md-12">
                    <label>Seleccione el punto de partida</label>
                    @Html.DropDownList("datos", ubi, "Entrada de la Escuela", new { @class = "form-control p-0", @id="Inicio"})
                </div>
                <div class="col-md-12">
                    <label>Seleccione el punto de llegada</label>
                    @Html.DropDownList("datos", ubi, "Entrada de la Escuela", new { @class = "form-control p-0", @id="Llegada"})
                </div>
            </div>
        </div>
    </div>

    <!--#region Entrada-->
    <!--#region Entrada a Sur-->
    <div id="EntradaSur">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo2" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo2");
            var coor = ruta.getContext("2d");
            coor.fillStyle = "#CCFF00";
            coor.fillRect(172, 1012, 5, 50);
            coor.fillRect(190, 1015, 50, 5);
            coor.fillRect(250, 1015, 50, 5);
            coor.fillRect(310, 1015, 50, 5);
            coor.fillRect(370, 1015, 50, 5);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo2");
            var coor = ruta.getContext("2d");
            coor.fillStyle = "#00ffee";
            coor.arc(175, 1075, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo2");
            var fin = ruta.getContext("2d");
            coor.arc(440, 1020, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#region Entrada a Norte-->
    <div id="EntradaNorte">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo3" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo3");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(172, 1012, 5, 50);
            coor.fillRect(190, 1015, 50, 5);
            coor.fillRect(250, 1015, 50, 5);
            coor.fillRect(295, 955, 5, 50);
            coor.fillRect(295, 895, 5, 50);
            coor.fillRect(295, 835, 5, 50);
            coor.fillRect(295, 785, 5, 40);
            coor.fillRect(305, 785, 40, 5);
            coor.fillRect(355, 785, 30, 5);
            coor.fillRect(385, 755, 5, 30);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo3");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(175, 1075, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo3");
            var fin = ruta.getContext("2d");
            fin.arc(387, 740, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#region Entrada a Gobierno-->
    <div id="EntradaGobierno">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo4" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo4");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(172, 1012, 5, 50);
            coor.fillRect(172, 975, 5, 30);
            coor.fillRect(132, 975, 30, 5)
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo4");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(175, 1075, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo4");
            var fin = ruta.getContext("2d");
            fin.arc(115, 980, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#region Entrada a Gestion-->
    <div id="EntradaGestion">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo5" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo5");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(172, 1012, 5, 50);
            coor.fillRect(185, 1010, 50, 5);
            coor.fillRect(245, 1010, 50, 5);
            coor.fillRect(305, 1010, 50, 5);
            coor.fillRect(360, 1010, 5, 50);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo5");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(175, 1075, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo5");
            var fin = ruta.getContext("2d");
            fin.arc(365, 1080, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#region Entrada a Biblioteca-->
    <div id="EntradaBiblioteca">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo6" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo6");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(172, 1015, 5, 50);
            coor.fillRect(172, 1005, 50, 5);
            coor.fillRect(230, 960, 5, 50);
            coor.fillRect(230, 900, 5, 50);
            coor.fillRect(230, 840, 5, 50);
            coor.fillRect(230, 770, 5, 60);
            coor.fillRect(170, 770, 50, 5);
            coor.fillRect(110, 770, 50, 5);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo6");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(175, 1075, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo6");
            var fin = ruta.getContext("2d");
            fin.arc(119, 775, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!-- #region Rutas Entrada a Central-->
    <!-- Ruta hacia el edificio indicado -->
    <div id="EntradaCentral">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(172, 1012, 5, 50);
            coor.fillRect(190, 1015, 50, 5);
            coor.fillRect(250, 1015, 50, 5);
            coor.fillRect(295, 955, 5, 50);
            coor.fillRect(295, 895, 5, 50);
            coor.fillRect(295, 895, 50, 5);
            coor.fillRect(355, 895, 50, 5);
            coor.fillRect(400, 880, 5, 10);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(175, 1075, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo");
            var fin = ruta.getContext("2d");
            fin.arc(400, 865, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!-- #endregion -->
    <!--#endregion-->
    <!--#region Norte-->
    <!--#region Norte a Sur-->
    <div id="NorteSur">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo7" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo7");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(382, 895, 5, 50);
            coor.fillRect(382, 835, 5, 50);
            coor.fillRect(382, 775, 5, 50);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo7");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(385, 965, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo7");
            var fin = ruta.getContext("2d");
            fin.arc(385, 750, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#region Norte a Central-->
    <div id="NorteCentral">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo8" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo8");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(383, 785, 5, 50);
            coor.fillRect(383, 745, 5, 30);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo8");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(385, 855, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo8");
            var fin = ruta.getContext("2d");
            fin.arc(385, 730, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#region Norte a Gestion-->
    <div id="NorteGestion">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo9" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo9");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(383, 750, 5, 20);
            coor.fillRect(383, 775, 5, 50);
            coor.fillRect(383, 835, 5, 50);
            coor.fillRect(383, 895, 5, 50);
            coor.fillRect(383, 955, 5, 50);
            coor.fillRect(383, 1015, 5, 50);
            coor.fillRect(335, 1070, 50, 5);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo9");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(385, 735, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo9");
            var fin = ruta.getContext("2d");
            fin.arc(335, 1090, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#region Norte a Gobierno-->
    <div id="NorteGobierno">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo10" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo10");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(383, 750, 5, 20);
            coor.fillRect(383, 775, 5, 50);
            coor.fillRect(383, 835, 5, 50);
            coor.fillRect(383, 895, 5, 50);
            coor.fillRect(383, 955, 5, 50);
            coor.fillRect(335, 1015, 50, 5);
            coor.fillRect(275, 1015, 50, 5);
            coor.fillRect(215, 1015, 50, 5);
            coor.fillRect(180, 1015, 25, 5);
            coor.fillRect(180, 975, 5, 30);
            coor.fillRect(150, 965, 30, 5);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo10");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(385, 735, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo10");
            var fin = ruta.getContext("2d");
            fin.arc(130, 965, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#region Norte a Biblioteca-->
    <div id="NorteBiblioteca">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo11" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo11");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(170, 770, 50, 5);
            coor.fillRect(110, 770, 50, 5);
            coor.fillRect(230, 770, 50, 5);
            coor.fillRect(290, 770, 50, 5);
            coor.fillRect(350, 770, 30, 5);
            coor.fillRect(380, 740, 5, 30);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo11");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(110, 770, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo11");
            var fin = ruta.getContext("2d");
            fin.arc(382, 730, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#endregion-->
    <!--#region Sur-->
    <!--#region Sur a Central-->
    <div id="SurCentral">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo12" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo12");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(382, 895, 5, 50);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo12");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(385, 965, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo12");
            var fin = ruta.getContext("2d");
            fin.arc(385, 880, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#region Sur a Gobierno-->
    <div id="SurGobierno">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo13" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo13");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(335, 1025, 50, 5);
            coor.fillRect(275, 1025, 50, 5);
            coor.fillRect(215, 1025, 50, 5);
            coor.fillRect(205, 975, 5, 50);
            coor.fillRect(155, 970, 50, 5);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo13");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(385, 1005, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo13");
            var fin = ruta.getContext("2d");
            fin.arc(135, 970, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#region Sur a Gestion-->
    <div id="SurGestion">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo14" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo14");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(382, 1030, 5, 50);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo14");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(385, 1005, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo14");
            var fin = ruta.getContext("2d");
            fin.arc(385, 1100, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#region Sur a Biblioteca-->
    <div id="SurBiblio">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo15" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo15");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(170, 770, 50, 5);
            coor.fillRect(110, 770, 50, 5);
            coor.fillRect(230, 770, 50, 5);
            coor.fillRect(290, 770, 50, 5);
            coor.fillRect(350, 770, 30, 5);
            coor.fillRect(380, 780, 5, 50);
            coor.fillRect(380, 840, 5, 50);
            coor.fillRect(380, 900, 5, 50);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo15");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(110, 770, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo15");
            var fin = ruta.getContext("2d");
            fin.arc(385, 960, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#endregion-->
    <!--#region Central-->
    <!--#region Central a Gestion-->
    <div id="CentralGestion">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo16" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo16");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(383, 895, 5, 50);
            coor.fillRect(383, 955, 5, 50);
            coor.fillRect(383, 1015, 5, 50);
            coor.fillRect(335, 1070, 50, 5);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo16");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(385, 875, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo16");
            var fin = ruta.getContext("2d");
            fin.arc(335, 1090, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#region Central a Gobierno-->
    <div id="CentralGobierno">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo17" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo17");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(383, 895, 5, 50);
            coor.fillRect(383, 955, 5, 50);
            coor.fillRect(335, 1015, 50, 5);
            coor.fillRect(275, 1015, 50, 5);
            coor.fillRect(215, 1015, 50, 5);
            coor.fillRect(185, 1015, 20, 5);
            coor.fillRect(185, 975, 5, 30);
            coor.fillRect(145, 975, 30, 5);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo17");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(385, 875, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo17");
            var fin = ruta.getContext("2d");
            fin.arc(130, 977, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#region Central a Biblioteca-->
    <div id="CentralBiblio">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo18" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo18");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(170, 770, 50, 5);
            coor.fillRect(110, 770, 50, 5);
            coor.fillRect(230, 770, 50, 5);
            coor.fillRect(290, 770, 50, 5);
            coor.fillRect(350, 770, 30, 5);
            coor.fillRect(380, 780, 5, 50);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo18");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(110, 770, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo18");
            var fin = ruta.getContext("2d");
            fin.arc(385, 850, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#endregion-->
    <!--#region Gestion-->
    <!--#region Gestion a Gobierno-->
    <div id="GestionGob">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo20" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo20");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(170, 770, 20, 5);
            coor.fillRect(110, 770, 50, 5);
            coor.fillRect(200, 770, 5, 50);
            coor.fillRect(200, 830, 5, 50);
            coor.fillRect(200, 890, 5, 50);
            coor.fillRect(200, 950, 5, 20);
            coor.fillRect(140, 970, 50, 5);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo20");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(110, 770, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo20");
            var fin = ruta.getContext("2d");
            fin.arc(140, 970, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#endregion-->
    <!--#region Biblioteca-->
    <!--#region Biblioteca a Gestion-->
    <div id="BibliotecaGestion">
        <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
            <canvas id="miLienzo19" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
        </article>
        <script>
            var ruta = document.getElementById("miLienzo19");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#CCFF00';
            coor.fillRect(170, 770, 50, 5);
            coor.fillRect(110, 770, 50, 5);
            coor.fillRect(230, 770, 50, 5);
            coor.fillRect(290, 770, 50, 5);
            coor.fillRect(350, 770, 30, 5);
            coor.fillRect(380, 780, 5, 50);
            coor.fillRect(380, 840, 5, 50);
            coor.fillRect(380, 900, 5, 50);
            coor.fillRect(380, 960, 5, 50);
            coor.fillRect(380, 1020, 5, 50);
        </script>
        <!-- Punto de inicio -->
        <script>
            var ruta = document.getElementById("miLienzo19");
            var coor = ruta.getContext("2d");
            coor.fillStyle = '#00ffee';
            coor.arc(110, 770, 10, 0, 2 * Math.PI, true);
            coor.fill();
        </script>
        <!-- Punto de llegada -->
        <script>
            var ruta = document.getElementById("miLienzo19");
            var fin = ruta.getContext("2d");
            fin.arc(365, 1095, 10, 0, 2 * Math.PI, true);
            fin.fill();
        </script>
    </div>
    <!--#endregion-->
    <!--#endregion-->
    <!--Tabla de los salones que contiene-->
    <div class="card mr-5 mt-3 mb-2 ml-5">
        <div class="card-header">
            Edificio Central
        </div>
        <div class="card-body">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Salones</th>
                        <th>Numero de piso</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <!-- Imagenes del edificio -->
    <!--#region Central-->
    <div id="Central">
        <div class="d-flex flex-column">
            <h4 style="margin: 100px 200px 0px 200px;"><i>Edificio Central</i></h4>
            <hr style="margin: 5px 200px 0px 200px; border: 1px solid #921919;
        border-radius: 5px;">
        </div>
        <article class="card-body section d-flex justify-content-center align-middle" style="margin: 20px 200px 20px 200px;">
            <div class="d-flex flex-wrap">
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central2.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central3.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central (1).jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central (1).jpeg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central (2).jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central (2).jpeg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central (3).jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central (3).jpeg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central.jpeg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
            </div>

        </article>
    </div>
    <!--#endregion-->
    <!--#region Norte-->
    <div id="Norte">
        <div class="d-flex flex-column">
            <h4 style="margin: 100px 200px 0px 200px;"><i>Edificio Norte</i></h4>
            <hr style="margin: 5px 200px 0px 200px; border: 1px solid #921919;
        border-radius: 5px;">
        </div>
        <article class="card-body section d-flex justify-content-center align-middle" style="margin: 20px 200px 20px 200px;">
            <div class="d-flex flex-wrap">
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio norte.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio norte.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio norte2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio norte2.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio norte3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio norte3.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio norte4.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio norte4.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio norte5.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio norte5.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio norte6.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio norte6.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>

            </div>

        </article>
    </div>
    <!--#endregion-->
    <!--#region Sur-->
    <div id="Sur">
        <div class="d-flex flex-column">
            <h4 style="margin: 100px 200px 0px 200px;"><i>Edificio Sur</i></h4>
            <hr style="margin: 5px 200px 0px 200px; border: 1px solid #921919;
        border-radius: 5px;">
        </div>
        <article class="card-body section d-flex justify-content-center align-middle" style="margin: 20px 200px 20px 200px;">
            <div class="d-flex flex-wrap">
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio Sur.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio Sur.jpeg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio sur.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio sur.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio sur2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio sur2.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio sur3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio sur3.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio sur4.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio sur4.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio sur5.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio sur5.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>

            </div>

        </article>
    </div>
    <!--#endregion-->
    <!--#region Gestion-->
    <div id="Gestion">
        <div class="d-flex flex-column">
            <h4 style="margin: 100px 200px 0px 200px;"><i>Gestion Escolar</i></h4>
            <hr style="margin: 5px 200px 0px 200px; border: 1px solid #921919;
        border-radius: 5px;">
        </div>
        <article class="card-body section d-flex justify-content-center align-middle" style="margin: 20px 200px 20px 200px;">
            <div class="d-flex flex-wrap">
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Gestion Escolar.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Gestion Escolar.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Gestion Escolar2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Gestion Escolar2.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Gestion Escolar3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Gestion Escolar3.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Gestion.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Gestion.jpeg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>

            </div>

        </article>
    </div>
    <!--#endregion-->

</body>

@section scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="~/Scripts/DataTables/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.js"></script>
    <script src="~/Scripts/DataTables/buttons.bootstrap4.js"></script>
    <script src="~/Scripts/DataTables/buttons.print.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedHeader.js"></script>

<!-- script para que se muestre la tabla de los salones-->
    <script>

        $(document).ready(function() {

            $('#example thead tr').clone(true).addClass('filters').appendTo('#example thead');


            $('#example').DataTable({
                //_______________PRIMERO____________
                "ajax": {
                    "url": '@Url.Action("Salones", "Home")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Nom_Escuela" },
                    { "data": "Piso" }
                ],
                //________________ SEGUNDO ____________
                language:{
                    url:"https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                },
                //________________ TERCERO ____________
                //_______________ CUARTO ______________
                dom: 'Bfrtip',
                buttons: [
                    //'excel',
                    {
                        extend: 'excelHtml5',
                        text: 'Exportar Excel',
                        filename: 'Ubicacion de salones',
                        title: '',
                        className: 'btn btn-success',
                    },
                    //'pdf',
                    {
                        extend: 'pdfHtml5',
                        text: 'Exportar PDF',
                        filename: 'Ubicacion de salones',
                        title: '',
                        className: 'btn btn-danger',
                    },
                    //'print'
                    {
                        extend: 'print',
                        title: '',
                        className:'btn btn-secondary'

                    },
                    //extra
                    {
                        extend: 'pageLength',
                        className:'btn btn-outline-dark'
                    }
                ],
                //______________ QUINTO _______________
                orderCellsTop: true,
                fixedHeader: true,
                initComplete: function () {
                    var api = this.api();

                    // For each column
                    api.columns().eq(0).each(function (colIdx) {

                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq( $(api.column(colIdx).header()).index() );

                            var title = $(cell).text();

                            //$(cell).html('<input type="text" placeholder="' + title + '" />');
                            $(cell).html('<input type="text" placeholder="Buscar..." />');

                            // On every keypress in this input
                            $('input', $('.filters th').eq($(api.column(colIdx).header()).index()) ).off('keyup change').on('keyup change', function (e) {

                                    e.stopPropagation();

                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();

                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },

                //extra
                //searching: false



            });



        } );

    </script>
    <script>
        $("#Inicio").on("change", function () {
            $("#EntradaSur").hide();
            $("#EntradaNorte").hide();
            $("#EntradaGobierno").hide();
            $("#EntradaGestion").hide();
            $("#EntradaBiblioteca").hide();
            $("#EntradaCentral").hide();
            $("#NorteSur").hide();
            $("#NorteCentral").hide();
            $("#NorteGestion").hide();
            $("#NorteGobierno").hide();
            $("#NorteBiblioteca").hide();
            $("#SurCentral").hide();
            $("#SurGobierno").hide();
            $("#SurGestion").hide();
            $("#SurBiblio").hide();
            $("#CentralGestion").hide();
            $("#CentralGobierno").hide();
            $("#CentralBiblio").hide();
            $("#GestionGob").hide();
            $("#BibliotecaGestion").hide();
            $("#Central").hide();
            $("#Norte").hide();
            $("#Sur").hide();
            $("#Gestion").hide();

        });
        $("#Llegada").on("change", function () {
            $("#EntradaSur").hide();
            $("#EntradaNorte").hide();
            $("#EntradaGobierno").hide();
            $("#EntradaGestion").hide();
            $("#EntradaBiblioteca").hide();
            $("#EntradaCentral").hide();
            $("#NorteSur").hide();
            $("#NorteCentral").hide();
            $("#NorteGestion").hide();
            $("#NorteGobierno").hide();
            $("#NorteBiblioteca").hide();
            $("#SurCentral").hide();
            $("#SurGobierno").hide();
            $("#SurGestion").hide();
            $("#SurBiblio").hide();
            $("#CentralGestion").hide();
            $("#CentralGobierno").hide();
            $("#CentralBiblio").hide();
            $("#GestionGob").hide();
            $("#BibliotecaGestion").hide();
            $("#Central").hide();
            $("#Norte").hide();
            $("#Sur").hide();
            $("#Gestion").hide();

        });
    </script>
}
