@{
    //Creacion de un objeto de tipo list para poder mostrar los edificios
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section styles{
    <link href="~/Content/DataTables/css/buttons.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/buttons.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/fixedHeader.dataTables.css" rel="stylesheet" />
    <link href="~/Content/css/Estilo.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/css/Buscador.css" rel="stylesheet" />
    <style>
        thead input {
            width: 100%;
        }
    </style>
}
<body>
    <div class="container h-100">
        <div class="d-flex justify-content-end h-100">
            <form class="buscador">
                <div class="searchbar">
                    <input class="search_input text-dark" type="text" placeholder="Buscar..." id="txtBuscar">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
                <ul class="list">
                </ul>
            </form>
        </div>
    </div>
    <br>

    <div class="container h-100">
        <div class="d-flex justify-content-end">
            <div class="mt-3">
                <div class="col-md-12 mt-3">
                    <label>Seleccione el punto de partida</label>
                    <select id="Inicio" class="form-control p-0">
                    </select>
                </div>
                <div class="col-md-12 mt-3">
                    <label>Seleccione el punto de llegada</label>
                    <select id="Llegada" class="form-control p-0">
                    </select>
                </div>
                <div class="col-sm-12 mt-3">
                    <button type="button" onclick="Filtrar()" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-danger" role="alert">
        El punto de inicio y de llegada no pueden ser iguales
    </div>
    <article class="card-body section d-flex justify-content-center align-middle" style="margin:20px 200px">
        <canvas id="miLienzo" width="642" height="1223" style="border: 1px solid #c3c3c3; background: url('../../Content/img/Mapa oficial (4).png'); background-size: 100%; "></canvas>
    </article>

    <!--Tabla de los salones que contiene-->
    <div class="card mr-5 mt-3 mb-2 ml-5">
        <div class="card-header">
            Edificio Central
        </div>
        <div class="card-body">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Salones</th>
                        <th>Numero de piso</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <!-- Imagenes del edificio -->
    <!--#region Central-->
    <div id="Central">
        <div class="d-flex flex-column">
            <h4 style="margin: 100px 200px 0px 200px;"><i>Edificio Central</i></h4>
            <hr style="margin: 5px 200px 0px 200px; border: 1px solid #921919;
        border-radius: 5px;">
        </div>
        <article class="card-body section d-flex justify-content-center align-middle" style="margin: 20px 200px 20px 200px;">
            <div class="d-flex flex-wrap">
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central2.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central3.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central (1).jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central (1).jpeg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central (2).jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central (2).jpeg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central (3).jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central (3).jpeg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio central.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio central.jpeg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
            </div>

        </article>
    </div>
    <!--#endregion-->
    <!--#region Norte-->
    <div id="Norte">
        <div class="d-flex flex-column">
            <h4 style="margin: 100px 200px 0px 200px;"><i>Edificio Norte</i></h4>
            <hr style="margin: 5px 200px 0px 200px; border: 1px solid #921919;
        border-radius: 5px;">
        </div>
        <article class="card-body section d-flex justify-content-center align-middle" style="margin: 20px 200px 20px 200px;">
            <div class="d-flex flex-wrap">
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio norte.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio norte.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio norte2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio norte2.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio norte3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio norte3.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio norte4.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio norte4.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio norte5.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio norte5.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio norte6.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio norte6.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>

            </div>

        </article>
    </div>
    <!--#endregion-->
    <!--#region Sur-->
    <div id="Sur">
        <div class="d-flex flex-column">
            <h4 style="margin: 100px 200px 0px 200px;"><i>Edificio Sur</i></h4>
            <hr style="margin: 5px 200px 0px 200px; border: 1px solid #921919;
        border-radius: 5px;">
        </div>
        <article class="card-body section d-flex justify-content-center align-middle" style="margin: 20px 200px 20px 200px;">
            <div class="d-flex flex-wrap">
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio Sur.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio Sur.jpeg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio sur.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio sur.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio sur2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio sur2.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio sur3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio sur3.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio sur4.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio sur4.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Edificio sur5.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Edificio sur5.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>

            </div>

        </article>
    </div>
    <!--#endregion-->
    <!--#region Gestion-->
    <div id="Gestion">
        <div class="d-flex flex-column">
            <h4 style="margin: 100px 200px 0px 200px;"><i>Gestion Escolar</i></h4>
            <hr style="margin: 5px 200px 0px 200px; border: 1px solid #921919;
        border-radius: 5px;">
        </div>
        <article class="card-body section d-flex justify-content-center align-middle" style="margin: 20px 200px 20px 200px;">
            <div class="d-flex flex-wrap">
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Gestion Escolar.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Gestion Escolar.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Gestion Escolar2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Gestion Escolar2.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Gestion Escolar3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Gestion Escolar3.jpg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6 col-sm mt-3 ">
                    <a href="~/Content/img/Gestion.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img src="~/Content/img/Gestion.jpeg" alt=" " class="img-fluid rounded float-left ">
                    </a>
                </div>

            </div>

        </article>
    </div>
    <!--#endregion-->

</body>

@section scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="~/Scripts/DataTables/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTables/buttons.html5.js"></script>
    <script src="~/Scripts/DataTables/buttons.bootstrap4.js"></script>
    <script src="~/Scripts/DataTables/buttons.print.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedHeader.js"></script>

    <!-- script para que se muestre la tabla de los salones-->
    <script>

        $(".alert").hide();
        //$("#Inicio").on("change", function () {
        //    $("#Rutas").hide();
        //});

        jQuery.ajax({
            url: "@Url.Action("ListarUbicacion", "Home")",
            type: "GET",
            data: null,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data);
                $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#Inicio");
                $("<option>").attr({ "value": "50" }).text("Entrada de la escuela").appendTo("#Inicio");
                $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#Llegad");
                $("<option>").attr({ "value": "50" }).text("Entrada de la escuela").appendTo("#Llegada");

                $.each(data.data, function (index, value) {
                    $("<option>").attr({ "value": value.IdUbi }).text(value.NomUbi).appendTo("#Inicio");
                    $("<option>").attr({ "value": value.IdUbi }).text(value.NomUbi).appendTo("#Llegada");
                })
            },
            error: function (eror) {
                console.log(eror);
            }
        });

        $(".search_input").on("click", function () {
            fetch("@Url.Action("CoincidenciasSalones","Home")")
                .then(function (sal) {
                    return sal.json();
                })
                .then(function (list) {
                    console.log(list);
                    let listSorted = list.sort();
                    //reference
                    let input = document.getElementById("txtBuscar");
                    input.addEventListener("keyup", (e) => {
                        removeElements();
                        for (let i of listSorted) {

                            if (
                                i.toLowerCase().startsWith(input.value.toLowerCase()) &&
                                input.value != ""
                            ) {
                                let listItem = document.createElement("li");
                                listItem.classList.add("list-items");
                                listItem.style.cursor = "pointer";
                                listItem.setAttribute("onclick", "displayNames('" + i + "')");
                                let word = "<b>" + i.substr(0, input.value.length) + "</b>";
                                word += i.substr(input.value.length);
                                listItem.innerHTML = word;
                                document.querySelector(".list").appendChild(listItem);
                            }
                        }
                    });
                })
        });

        function displayNames(value) {
            input.value = value;
            removeElements();
        }
        function removeElements() {
            let items = document.querySelectorAll(".list-items");
            items.forEach((item) => {
                item.remove();
            });
        }


        function Filtrar() {
            var ruta = document.getElementById("miLienzo");
            var coor = ruta.getContext("2d");
            var ini = ruta.getContext("2d");
            ini.fillStyle = "#00ffee";
            var fin = ruta.getContext("2d");
            let inicio = $("#Inicio").val();
            let final = $("#Llegada").val();

            if (final == inicio) {
                coor.clearRect(0, 0, ruta.width, ruta.height);
                $(".alert").show();
            }
            else {
                $(".alert").hide();
                debugger;
                //#region Entrada
                if (inicio == 50) {
                    coor.arc(175, 1075, 10, 0, 2 * Math.PI, true);
                    coor.fill();
                    if (final == 200) {
                        //Sur
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.clearRect(440 - 10 - 1, 1020 - 10 - 1, 10 * 2 + 2, 10 * 2 + 2);
                        coor.fillRect(172, 1012, 5, 50);
                        coor.fillRect(190, 1015, 50, 5);
                        coor.fillRect(250, 1015, 50, 5);
                        coor.fillRect(310, 1015, 50, 5);
                        coor.fillRect(370, 1015, 50, 5);
                        coor.arc(440, 1020, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 100) {
                        //Norte
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.clearRect(387 - 10 - 1, 740 - 10 - 1, 10 * 2 + 2, 10 * 2 + 2);
                        coor.fillRect(172, 1012, 5, 50);
                        coor.fillRect(190, 1015, 50, 5);
                        coor.fillRect(250, 1015, 50, 5);
                        coor.fillRect(295, 955, 5, 50);
                        coor.fillRect(295, 895, 5, 50);
                        coor.fillRect(295, 835, 5, 50);
                        coor.fillRect(295, 785, 5, 40);
                        coor.fillRect(305, 785, 40, 5);
                        coor.fillRect(355, 785, 30, 5);
                        coor.fillRect(385, 755, 5, 30);
                        coor.arc(387, 740, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 300) {
                        //Central
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(172, 1012, 5, 50);
                        coor.fillRect(190, 1015, 50, 5);
                        coor.fillRect(250, 1015, 50, 5);
                        coor.fillRect(295, 955, 5, 50);
                        coor.fillRect(295, 895, 5, 50);
                        coor.fillRect(295, 895, 50, 5);
                        coor.fillRect(355, 895, 50, 5);
                        coor.fillRect(400, 880, 5, 10);
                        coor.arc(400, 865, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 400) {
                        //Gestion
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(172, 1012, 5, 50);
                        coor.fillRect(185, 1010, 50, 5);
                        coor.fillRect(245, 1010, 50, 5);
                        coor.fillRect(305, 1010, 50, 5);
                        coor.fillRect(360, 1010, 5, 50);
                        coor.arc(365, 1080, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 500) {
                        //Biblioteca
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(172, 1015, 5, 50);
                        coor.fillRect(172, 1005, 50, 5);
                        coor.fillRect(230, 960, 5, 50);
                        coor.fillRect(230, 900, 5, 50);
                        coor.fillRect(230, 840, 5, 50);
                        coor.fillRect(230, 770, 5, 60);
                        coor.fillRect(170, 770, 50, 5);
                        coor.fillRect(110, 770, 50, 5);
                        coor.arc(119, 775, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 600) {
                        //Gobierno
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(172, 1012, 5, 50);
                        coor.fillRect(172, 975, 5, 30);
                        coor.fillRect(132, 975, 30, 5);
                        coor.arc(115, 980, 10, 0, 2 * Math.PI, true);
                        coor.fill();
                         ;
                    }
                    else {

                    }
                }
                //#endregion
                //#region Norte
                else if (inicio == 100) {
                    coor.arc(385, 750, 10, 0, 2 * Math.PI, true);
                    coor.fill();
                    coor.clearRect(0, 0, ruta.width, ruta.height);
                    if (final == 200) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.clearRect(440 - 10 - 1, 1020 - 10 - 1, 10 * 2 + 2, 10 * 2 + 2);
                        coor.fillRect(382, 895, 5, 50);
                        coor.fillRect(382, 835, 5, 50);
                        coor.fillRect(382, 775, 5, 50);
                        coor.arc(385, 965, 10, 0, 2 * Math.PI, true)
                        coor.fill();
                    }
                    else if (final == 50) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);

                        coor.fillRect(172, 1012, 5, 50);
                        coor.fillRect(190, 1015, 50, 5);
                        coor.fillRect(250, 1015, 50, 5);
                        coor.fillRect(295, 955, 5, 50);
                        coor.fillRect(295, 895, 5, 50);
                        coor.fillRect(295, 835, 5, 50);
                        coor.fillRect(295, 785, 5, 40);
                        coor.fillRect(305, 785, 40, 5);
                        coor.fillRect(355, 785, 30, 5);
                        coor.fillRect(385, 755, 5, 30);
                        coor.arc(175, 1075, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 300) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(383, 785, 5, 50);
                        coor.fillRect(383, 745, 5, 30);
                        coor.arc(385, 830, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 400) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(383, 750, 5, 20);
                        coor.fillRect(383, 775, 5, 50);
                        coor.fillRect(383, 835, 5, 50);
                        coor.fillRect(383, 895, 5, 50);
                        coor.fillRect(383, 955, 5, 50);
                        coor.fillRect(383, 1015, 5, 50);
                        coor.fillRect(335, 1070, 50, 5);
                        coor.arc(335, 1090, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 500) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(170, 770, 50, 5);
                        coor.fillRect(110, 770, 50, 5);
                        coor.fillRect(230, 770, 50, 5);
                        coor.fillRect(290, 770, 50, 5);
                        coor.fillRect(350, 770, 30, 5);
                        coor.fillRect(380, 740, 5, 30);
                        coor.arc(110, 770, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 600) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(383, 750, 5, 20);
                        coor.fillRect(383, 775, 5, 50);
                        coor.fillRect(383, 835, 5, 50);
                        coor.fillRect(383, 895, 5, 50);
                        coor.fillRect(383, 955, 5, 50);
                        coor.fillRect(335, 1015, 50, 5);
                        coor.fillRect(275, 1015, 50, 5);
                        coor.fillRect(215, 1015, 50, 5);
                        coor.fillRect(180, 1015, 25, 5);
                        coor.fillRect(180, 975, 5, 30);
                        coor.fillRect(150, 965, 30, 5);
                        coor.arc(130, 965, 10, 0, 2 * Math.PI, true);
                        coor.fill();
                         ;
                    }
                    else {

                    }
                }
                //#endregion
                //#region Sur
                else if (inicio == 200) {
                    coor.arc(385, 985, 10, 0, 2 * Math.PI, true);
                    coor.fill();
                    if (final == 300) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.clearRect(440 - 10 - 1, 1020 - 10 - 1, 10 * 2 + 2, 10 * 2 + 2);
                        coor.fillRect(382, 895, 5, 50);
                        coor.arc(385, 880, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 50) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.clearRect(440 - 10 - 1, 1020 - 10 - 1, 10 * 2 + 2, 10 * 2 + 2);
                        coor.fillRect(172, 1012, 5, 50);
                        coor.fillRect(190, 1015, 50, 5);
                        coor.fillRect(250, 1015, 50, 5);
                        coor.fillRect(310, 1015, 50, 5);
                        coor.arc(175, 1075, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 100) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(382, 895, 5, 50);
                        coor.fillRect(382, 835, 5, 50);
                        coor.fillRect(382, 775, 5, 50);
                        coor.arc(385, 745, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 400) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(382, 1030, 5, 50);
                        coor.arc(385, 960, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 500) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(170, 770, 50, 5);
                        coor.fillRect(110, 770, 50, 5);
                        coor.fillRect(230, 770, 50, 5);
                        coor.fillRect(290, 770, 50, 5);
                        coor.fillRect(350, 770, 30, 5);
                        coor.fillRect(380, 780, 5, 50);
                        coor.fillRect(380, 840, 5, 50);
                        coor.fillRect(380, 900, 5, 50);
                        coor.arc(110, 770, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 600) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(335, 1025, 50, 5);
                        coor.fillRect(275, 1025, 50, 5);
                        coor.fillRect(215, 1025, 50, 5);
                        coor.fillRect(205, 975, 5, 50);
                        coor.fillRect(155, 970, 50, 5);
                        coor.arc(135, 970, 10, 0, 2 * Math.PI, true);
                        coor.fill();
                         ;
                    }
                    else {

                    }
                }
                //#endregion
                //#region Central
                else if (inicio == 300) {
                    coor.arc(385, 880, 10, 0, 2 * Math.PI, true);
                    coor.fill();
                    if (final == 200) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.clearRect(440 - 10 - 1, 1020 - 10 - 1, 10 * 2 + 2, 10 * 2 + 2);
                        coor.fillRect(383, 895, 5, 50);
                        coor.arc(385, 965, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 50) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.clearRect(440 - 10 - 1, 1020 - 10 - 1, 10 * 2 + 2, 10 * 2 + 2);
                        coor.fillRect(385, 915, 5, 50);
                        coor.fillRect(385, 975, 5, 50);
                        coor.fillRect(335, 1025, 50, 5);
                        coor.fillRect(275, 1025, 50, 5);
                        coor.fillRect(215, 1025, 50, 5);
                        coor.fillRect(175, 1025, 30, 5);
                        coor.fillRect(175, 1035, 5, 50);
                        coor.arc(175, 1075, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 100) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(383, 785, 5, 50);
                        coor.fillRect(383, 745, 5, 30);
                        coor.arc(385, 745, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 400) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(383, 895, 5, 50);
                        coor.fillRect(383, 955, 5, 50);
                        coor.fillRect(383, 1015, 5, 50);
                        coor.fillRect(335, 1070, 50, 5);
                        coor.arc(335, 1090, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 500) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(170, 770, 50, 5);
                        coor.fillRect(110, 770, 50, 5);
                        coor.fillRect(230, 770, 50, 5);
                        coor.fillRect(290, 770, 50, 5);
                        coor.fillRect(350, 770, 30, 5);
                        coor.fillRect(380, 780, 5, 50);
                        coor.arc(110, 770, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 600) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(383, 895, 5, 50);
                        coor.fillRect(383, 955, 5, 50);
                        coor.fillRect(335, 1015, 50, 5);
                        coor.fillRect(275, 1015, 50, 5);
                        coor.fillRect(215, 1015, 50, 5);
                        coor.fillRect(185, 1015, 20, 5);
                        coor.fillRect(185, 975, 5, 30);
                        coor.fillRect(145, 975, 30, 5);
                        coor.arc(135, 970, 10, 0, 2 * Math.PI, true);
                        coor.fill();
                         ;
                    }
                    else {

                    }
                }
                //#endregion
                //#region Gestion
                else if (inicio == 400) {
                    coor.arc(365, 1100, 10, 0, 2 * Math.PI, true);
                    coor.fill();
                    if (final == 200) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.clearRect(440 - 10 - 1, 1020 - 10 - 1, 10 * 2 + 2, 10 * 2 + 2);
                        coor.fillRect(382, 1030, 5, 50);
                        coor.arc(385, 965, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 50) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.clearRect(440 - 10 - 1, 1020 - 10 - 1, 10 * 2 + 2, 10 * 2 + 2);
                        coor.fillRect(172, 1012, 5, 50);
                        coor.fillRect(185, 1010, 50, 5);
                        coor.fillRect(245, 1010, 50, 5);
                        coor.fillRect(305, 1010, 50, 5);
                        coor.fillRect(360, 1010, 5, 50);
                        coor.arc(175, 1075, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 100) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(383, 775, 5, 50);
                        coor.fillRect(383, 835, 5, 50);
                        coor.fillRect(383, 895, 5, 50);
                        coor.fillRect(383, 955, 5, 50);
                        coor.fillRect(383, 1015, 5, 50);
                        coor.arc(385, 745, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 300) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(383, 895, 5, 50);
                        coor.fillRect(383, 955, 5, 50);
                        coor.fillRect(383, 1015, 5, 50);
                        coor.arc(385, 875, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 500) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(170, 770, 50, 5);
                        coor.fillRect(110, 770, 50, 5);
                        coor.fillRect(230, 770, 50, 5);
                        coor.fillRect(290, 770, 50, 5);
                        coor.fillRect(350, 770, 30, 5);
                        coor.fillRect(380, 780, 5, 50);
                        coor.fillRect(380, 840, 5, 50);
                        coor.fillRect(380, 900, 5, 50);
                        coor.fillRect(380, 960, 5, 50);
                        coor.fillRect(380, 1020, 5, 50);
                        coor.arc(110, 770, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 600) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(380, 960, 5, 50);
                        coor.fillRect(380, 1020, 5, 50);
                        coor.fillRect(320, 960, 50, 5);
                        coor.fillRect(260, 960, 50, 5);
                        coor.fillRect(200, 960, 50, 5);
                        coor.fillRect(140, 960, 50, 5);
                        coor.arc(135, 970, 10, 0, 2 * Math.PI, true);
                        coor.fill();
                         ;
                    }
                    else {

                    }
                }
                //#endregion
                //#region Biblioteca
                else if (inicio == 500) {
                    coor.arc(119, 775, 10, 0, 2 * Math.PI, true);
                    coor.fill();
                    if (final == 200) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.clearRect(440 - 10 - 1, 1020 - 10 - 1, 10 * 2 + 2, 10 * 2 + 2);
                        coor.fillRect(170, 770, 50, 5);
                        coor.fillRect(110, 770, 50, 5);
                        coor.fillRect(230, 770, 50, 5);
                        coor.fillRect(290, 770, 50, 5);
                        coor.fillRect(350, 770, 30, 5);
                        coor.fillRect(380, 780, 5, 50);
                        coor.fillRect(380, 840, 5, 50);
                        coor.fillRect(380, 900, 5, 50);
                        coor.arc(385, 965, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 50) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.clearRect(440 - 10 - 1, 1020 - 10 - 1, 10 * 2 + 2, 10 * 2 + 2);
                        coor.fillRect(172, 1015, 5, 50);
                        coor.fillRect(172, 1005, 50, 5);
                        coor.fillRect(230, 960, 5, 50);
                        coor.fillRect(230, 900, 5, 50);
                        coor.fillRect(230, 840, 5, 50);
                        coor.fillRect(230, 770, 5, 60);
                        coor.fillRect(170, 770, 50, 5);
                        coor.fillRect(110, 770, 50, 5);
                        coor.arc(175, 1075, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 100) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(170, 770, 50, 5);
                        coor.fillRect(110, 770, 50, 5);
                        coor.fillRect(230, 770, 50, 5);
                        coor.fillRect(290, 770, 50, 5);
                        coor.fillRect(350, 770, 30, 5);
                        coor.fillRect(380, 740, 5, 30);
                        coor.arc(385, 745, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 300) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(170, 770, 50, 5);
                        coor.fillRect(110, 770, 50, 5);
                        coor.fillRect(230, 770, 50, 5);
                        coor.fillRect(290, 770, 50, 5);
                        coor.fillRect(350, 770, 30, 5);
                        coor.fillRect(380, 780, 5, 50);
                        coor.arc(385, 875, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 400) {
                        coor.fillRect(170, 770, 50, 5);
                        coor.fillRect(110, 770, 50, 5);
                        coor.fillRect(230, 770, 50, 5);
                        coor.fillRect(290, 770, 50, 5);
                        coor.fillRect(350, 770, 30, 5);
                        coor.fillRect(380, 780, 5, 50);
                        coor.fillRect(380, 840, 5, 50);
                        coor.fillRect(380, 900, 5, 50);
                        coor.fillRect(380, 960, 5, 50);
                        coor.fillRect(380, 1020, 5, 50);
                        coor.arc(365, 1095, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 600) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(119, 775, 5, 50);
                        coor.fillRect(119, 835, 5, 50);
                        coor.fillRect(119, 895, 5, 50);
                        coor.arc(135, 970, 10, 0, 2 * Math.PI, true);
                        coor.fill();
                         ;
                    }
                    else {

                    }
                }
                //#endregion
                //#region Gobierno
                else if (inicio == 600) {
                    coor.arc(135, 970, 10, 0, 2 * Math.PI, true);
                    coor.fill();
                    if (final == 200) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.clearRect(440 - 10 - 1, 1020 - 10 - 1, 10 * 2 + 2, 10 * 2 + 2);
                        coor.fillRect(135, 970, 50, 5);
                        coor.fillRect(195, 970, 50, 5);
                        coor.fillRect(255, 970, 50, 5);
                        coor.fillRect(315, 970, 50, 5);
                        coor.arc(385, 965, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 50) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.clearRect(440 - 10 - 1, 1020 - 10 - 1, 10 * 2 + 2, 10 * 2 + 2);
                        coor.fillRect(135, 970, 50, 5);
                        coor.fillRect(180, 980, 5, 50);
                        coor.fillRect(180, 1040, 5, 20);
                        coor.arc(175, 1075, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 100) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(135, 970, 50, 5);
                        coor.fillRect(195, 970, 50, 5);
                        coor.fillRect(255, 970, 50, 5);
                        coor.fillRect(315, 970, 50, 5);
                        coor.fillRect(385, 920, 5, 50);
                        coor.fillRect(385, 860, 5, 50);
                        coor.fillRect(385, 800, 5, 50);
                        coor.fillRect(385, 740, 5, 50);
                        coor.arc(385, 745, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 300) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(135, 970, 50, 5);
                        coor.fillRect(195, 970, 50, 5);
                        coor.fillRect(255, 970, 50, 5);
                        coor.fillRect(315, 970, 50, 5);
                        coor.fillRect(385, 920, 5, 50);
                        coor.fillRect(385, 860, 5, 30);
                        coor.arc(385, 875, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 400) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(135, 970, 50, 5);
                        coor.fillRect(195, 970, 50, 5);
                        coor.fillRect(255, 970, 50, 5);
                        coor.fillRect(315, 970, 50, 5);
                        coor.fillRect(385, 980, 5, 50);
                        coor.fillRect(385, 1040, 5, 30);
                        coor.arc(365, 1095, 10, 0, 2 * Math.PI, true);
                        coor.fill();

                    }
                    else if (final == 500) {
                        coor.clearRect(0, 0, ruta.width, ruta.height);
                        coor.fillRect(119, 775, 5, 50);
                        coor.fillRect(119, 835, 5, 50);
                        coor.fillRect(119, 895, 5, 50);
                        coor.arc(119, 775, 10, 0, 2 * Math.PI, true);
                        coor.fill();
                         ;
                    }
                    else {

                    }
                }
                //#endregion
                else {

                }
                //#region Imagenes
                $("#Norte").hide();
                $("#Sur").hide();
                $("#Central").hide();
                $("#Gestion").hide();
                switch (final) {
                    case "100":
                        $("#Norte").show();
                        break;
                    case "200":
                        $("#Sur").show();
                        break;
                    case "300":
                        $("#Central").show();
                        break;
                    case "400":
                        $("#Gestion").show();
                        break;
                    case "500":
                        $("#Biblioteca").show();
                        break;
                    case "600":
                        $("#Gobierno").show();
                        break;
                    default:
                        console.log("No hay datos");
                        break;
                }
                //#endregion
                Tabla(final);
            }


        }
        function Tabla(edificio) {


            $('#example').DataTable({
                //_______________PRIMERO____________
                "ajax": {
                    "url": '@Url.Action("Salones", "Home")',
                    "type": "POST",
                    "data": {edificios:edificio},
                    "datatype": "json"
                },
                "destroy": true,
                "columns": [
                    { "data": "Nom_Escuela" },
                    { "data": "Piso" }
                ],
                //________________ SEGUNDO ____________
                language:{
                    url:"https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                },
                //________________ TERCERO ____________
                //_______________ CUARTO ______________
                dom: 'Bfrtip',
                buttons: [
                    //'excel',
                    {
                        extend: 'excelHtml5',
                        text: 'Exportar Excel',
                        filename: 'Ubicacion de salones',
                        title: '',
                        className: 'btn btn-success',
                    },
                    //'pdf',
                    {
                        extend: 'pdfHtml5',
                        text: 'Exportar PDF',
                        filename: 'Ubicacion de salones',
                        title: '',
                        className: 'btn btn-danger',
                    },
                    //'print'
                    {
                        extend: 'print',
                        title: '',
                        className:'btn btn-secondary'

                    },
                    //extra
                    {
                        extend: 'pageLength',
                        className:'btn btn-outline-dark'
                    }
                ],
                //______________ QUINTO _______________
                orderCellsTop: true,
                fixedHeader: true,
                initComplete: function () {
                    var api = this.api();

                    // For each column
                    api.columns().eq(0).each(function (colIdx) {

                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq( $(api.column(colIdx).header()).index() );

                            var title = $(cell).text();

                            //$(cell).html('<input type="text" placeholder="' + title + '" />');
                            $(cell).html('<input type="text" placeholder="Buscar..." />');

                            // On every keypress in this input
                            $('input', $('.filters th').eq($(api.column(colIdx).header()).index()) ).off('keyup change').on('keyup change', function (e) {

                                    e.stopPropagation();

                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();

                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },

                //extra
                //searching: false



            });




        }


    </script>
}
